<!DOCTYPE html>
<html lang="en" ng-app="mbApac">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#111111">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/styles.min.css">
    <title>Mobile Redirects I-Apac</title>
</head>
<body>

<!-- Render View Here -->
<ng-view></ng-view>

<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="bower_components/angular-route/angular-route.min.js"></script>
<script type="text/javascript" src="bower_components/angular-resource/angular-resource.min.js"></script>
<script type="text/javascript" src="assets/js/directives.js"></script>
<script type="text/javascript" src="assets/js/controllers.js"></script>
<script type="text/javascript" src="assets/js/services.js"></script>
<script type="text/javascript" src="assets/js/factories.js"></script>
<script type="text/javascript" src="assets/js/main.js"></script>
</body>
</html>