<div class="page">
    <div class="button cabaret" total-center ng-click="displayStatusList()">Select Status</div>
    <div class="statusListWrapper" total-center ng-class="statusListState">
        <ul class="statusList">
            <li><a class="status" ng-click="storeStatus('Complete','results')">Complete</a></li>
            <li><a class="status" ng-click="storeStatus('Incomplete','results')">Screen Out</a></li>
            <li><a class="status" ng-click="storeStatus('Quotafull','results')">Quotafull</a></li>
        </ul>
    </div>
</div>