<div class="page">
    <div class="button green" total-center ng-click="displayStatusList()">Select Status</div>
    <div class="statusListWrapper" total-center ng-class="statusListState">
        <ul class="statusList">
            <li><a class="status" ng-click="storeStatus('Complete','country')">Complete</a></li>
            <li><a class="status" ng-click="storeStatus('Incomplete','country')">Screen Out</a></li>
            <li><a class="status" ng-click="storeStatus('Quotafull','country')">Quotafull</a></li>
        </ul>
    </div>
</div>